.hero__area__left{
    text-align: left;
}
.hero__area__left{
    display: flex;
    align-items: center;
}
.hero__area__text h1{
    font-weight: 700;
    font-size: 70px;
    color: #262524;
}
.hero__area__text h1 span{
    color: #0984e3;
}